{
    "maxThreadCount": 10,
    "streamServiceUpdateRate": 15,
    "initialDelay": 10,
    "issueTrackerConfigs": [
        {
            "url": "https://issues.redhat.com/",
            "username": "",
            "password": "",
            "tracker": "JIRA",
            "defaultIssueLimit": 1
        },
    {
            "url": "https://bugzilla.redhat.com/",
            "username": "",
            "password": "",
            "tracker": "BUGZILLA",
            "defaultIssueLimit": 1
        }
    ],
    "repositoryConfigs": [
        {
            "url": "https://github.com/",
            "username": "",
            "password": "",
            "type": "GITHUB"
        },
        {
            "url": "https://gitlab.cee.redhat.com/",
            "username": "",
            "password": "",
            "type": "GITLAB"
        }
    ],
    "streamConfigs": [
        {
            "url": "https://raw.githubusercontent.com/jboss-set/jboss-streams/master/streams.json",
            "type": "JSON"
        }
    ]
}
