{
    "maxThreadCount": 10,
    "streamServiceUpdateRate": 15,
    "initialDelay": 10,
    "issueTrackerConfigs": [
        {
            "url": "https://issues.jboss.org/",
            "username": "user",
            "password": "pass",
            "tracker": "JIRA",
            "defaultIssueLimit": 1
        }
    ],
    "repositoryConfigs": [
        {
            "url": "https://github.com/",
            "username": "",
            "password": "",
            "type": "GITHUB"
        }
    ],
    "streamConfigs": [
        {
            "url": "https://raw.githubusercontent.com/jboss-set/jboss-streams/master/streams.json",
            "type": "JSON"
        }
    ]
}
