!!org.jboss.set.aphrodite.config.AphroditeConfig
issueTrackerConfigs:
  - tracker: JIRA
    url: https://issues.jboss.org/
    username: user
    password: pass

  - tracker: bugzilla
    url: https://bugzilla.redhat.com/
    username: user
    password: pass

repositoryConfigs:
  - url: https://github.com/
    username: user
    password: pass
