# Github account
github.organization=...
github.repo=...

# Github upstream account
github.organization.upstream=...
github.repo.upstream=...

# Github Authentication Info
github.login=...
github.token=...

# Bugzilla required properties
bugzilla.login=...
bugzilla.password=...

# Jenkins server required properties
jenkins.host=...
jenkins.uri=...
jenkins.port=...
jenkins.job.token=...
jenkins.publish.url=...

# EAP version specific properties
versions=eap621,eap630

eap621.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
eap621.github.branch=...
eap621.parent.bug=...

eap630.evaluator=org.jboss.pull.shared.evaluators.FlagBasedPullEvaluator
eap630.github.branch=...
eap630.required.flags=...

# Processor properties
admin.list.file=...
eap62x.jenkins.job=...
eap63x.jenkins.job=...
