# Github account
github.organization=...
github.repo=...

# Github Authentication Info
github.login=...
github.token=...

# Bugzilla required properties
bugzilla.login=...
bugzilla.password=...

# Jira properties
jira.login=...
jira.password=...

# Jenkins server required properties
jenkins.host=...
jenkins.uri=...
jenkins.port=...
jenkins.job.token=...
jenkins.publish.url=...

# EAP version specific properties
versions=

#<version>.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
#<version>.github.branch=...
#<version>.github.organization.upstream=...
#<version>.github.repo.upstream=...
#<version>.github.branch.upstream=...
#<version>.parent.bug=...
#<version>.issue.fix.version=...

# Processor properties
admin.list.file=...
