# Github account
github.organization=...
github.repo=...

# Github upstream account
github.organization.upstream=...
github.repo.upstream=...

# Github Authentication Info
github.login=...
github.token=...

# Bugzilla required properties
bugzilla.login=...
bugzilla.password=...

# Jenkins server required properties
jenkins.host=...
jenkins.uri=...
jenkins.port=...
jenkins.job.token=...
jenkins.publish.url=...

# EAP version specific properties
eap62.version.flag=...
eap63.version.flag=...
eap621.github.branch=...
eap63.github.branch=...
eap62x.jenkins.job=...
eap63x.jenkins.job=...
